@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

body {font-family: 'Source Sans Pro', sans-serif; font-size: 15px; color: #666;}

#table1
{
	margin-top:40px;
    border:solid 1px;
    border-collapse:collapse;
}

#table1 th
{
    border:solid 1px;
    border-collapse:collapse;
}

#table1 td
{
    border:solid 1px;
    vertical-align:top;
}

.btn {padding:10px 20px; background: #F4F4F2;}

.btn:hover {background: #E4E4E2;}

a.btn {color:#666; text-align: center; text-decoration: none;}

/* Logout buttons */
#logout_btns {
    position: absolute;
    top: 0px;
    right: 0px;
}

#logout {
	background: linear-gradient(to bottom, #2e2e7d 0%, #2e2e7d 100%) repeat scroll 0% 0% transparent;
	border: 1px solid #0C6EBE;
	color: #FFF;
}