<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:web_1="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <display-name>WorkerServlet</display-name>
    <servlet-name>WorkerServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.WorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainEntryServlet</display-name>
    <servlet-name>MainEntryServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.MainEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainEntryServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FBLoginProcessServlet</display-name>
    <servlet-name>FBLoginProcessServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.FBLoginProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FBLoginProcessServlet</servlet-name>
    <url-pattern>/FBLoginProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CBRegServlet</display-name>
    <servlet-name>CBRegServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.CBRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CBRegServlet</servlet-name>
    <url-pattern>/CBRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CBLoginServlet</display-name>
    <servlet-name>CBLoginServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.CBLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CBLoginServlet</servlet-name>
    <url-pattern>/CBLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDisplayServlet</display-name>
    <servlet-name>FileDisplayServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.FileDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDisplayServlet</servlet-name>
    <url-pattern>/FileDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateFolderServlet</display-name>
    <servlet-name>CreateFolderServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.CreateFolderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFolderServlet</servlet-name>
    <url-pattern>/CreateFolderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileServlet</display-name>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveServlet</display-name>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.RemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/RemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShareFileServlet</display-name>
    <servlet-name>ShareFileServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.ShareFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareFileServlet</servlet-name>
    <url-pattern>/ShareFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFileServlet</display-name>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileURlParseServlet</display-name>
    <servlet-name>FileURlParseServlet</servlet-name>
    <servlet-class>com.team11.cloudbox.FileURlParseServlet</servlet-class>
    <init-param>
      <param-name>downloadEntry</param-name>
      <param-value>http://localhost:8080/CloudBox/download</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileURlParseServlet</servlet-name>
    <url-pattern>/FileURlParseServlet</url-pattern>
  </servlet-mapping>
</web-app>